body {
  font-family: 'PT Sans Caption', sans-serif;
}

.navbar-brand img {
  width: 40px;
}

.btn-login {
  background-color: #0BA0AC;
  color: #ffffff;
  width: 100px;
  font-weight: bold;
}

.btn-login:hover {
  background-color: #2dbac4;
  color: #ffffff;
  width: 100px;
  font-weight: bold;
}

.nav-link {
  margin-right: 5px;
}

.nav-link:hover {
  border-bottom: 3px solid #0BA0AC;
}

header {
  padding: 200px 0px 165px;
  background-image: url("../images/banner.png");
  background-size: cover;
}

header .banner-txt {
  color: #ffffff;
  font-size: 40px;
  margin-top: 40px;
  font-weight: bold;
}

.btn-get-started {
  background-color: #0BA0AC;
  color: #ffffff;
}

.btn-get-started:hover {
  background-color: #2dbac4;
  color: #ffffff;
}

.section-popular {
  background-color: #EFF9FA;
  min-height: 1300px;
}

.section-popular .text-popular {
  color: #000000;
  font-weight: bold;
  font-size: 40px;
  margin-top: 100px;
}

.section-popular .text-popular-2 {
  color: #000000;
  font-weight: normal;
  font-size: 15px;
  margin-top: 110px;
}

.card-travel {
  margin-top: 50px;
}

.card-travel .card-body {
  min-height: 200px;
}

.card-travel .card-body .card-title {
  font-size: 30px;
  font-weight: bold;
}

.card-travel .card-body img {
  background-size: cover;
}

.card-travel .card-body .card-text {
  margin-top: -15px;
  font-size: 20px;
  font-weight: normal;
}

.card-travel .card-body .card-body {
  border-radius: 10px;
  -webkit-box-shadow: #fafafa;
          box-shadow: #fafafa;
}

.card-travel .card-body .btn-details {
  width: 100px;
  background-color: #0BA0AC;
  color: white;
}

.card-travel .card-body .btn-details:hover {
  background-color: #2dbac4;
  color: #ffffff;
  width: 100px;
}

.section-more {
  background-color: #fff;
  min-height: 300px;
}

.text-more {
  margin-top: 100px;
  font-size: 40px;
  font-weight: bold;
}

.text-more-2 {
  font-size: 30px;
}

.btn-more {
  width: 200px;
  height: 50px;
  margin-top: 120px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: #0BA0AC;
  color: #ffffff;
}

.btn-more:hover {
  background-color: #2dbac4;
  color: #ffffff;
}

.section-testimonials {
  min-height: 506px;
}

.text-testi {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-testimonials {
  margin-top: 20px;
  min-height: 300px;
}

.section-footer a {
  color: #0BA0AC;
}

.section-package-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-package-content .breadcrumb-item.active {
  color: #0BA0AC;
}

.btn-search {
  background-color: #0BA0AC;
}

.icon-color {
  color: white;
}

.section-package {
  min-height: 1000px;
}

.section-package .price-text {
  color: #0BA0AC;
  font-size: 20px;
}

.section-package .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-package .join-container {
  margin-top: -16px;
}

.section-package .btn-join-now {
  background-color: #0BA0AC;
  color: #ffffff;
  border-radius: 0;
}

.section-package .btn-join-now:hover {
  background-color: #2dbac4;
  color: #fff;
}

.color-heart {
  color: pink;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 18px;
  color: #b1b1b1;
}
/*# sourceMappingURL=main.css.map */