{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% include 'include/css.html' %}
	<title>{{title}}</title>
</head>
<body>
	{% include 'include/navbar.html' %}

	<div>
		{% with data.images.all|first as image %}
		    <img src="{{image.getImage}}">
		{% endwith %}
		{{data.nama_paket}}
		<h1>	
			IDR {{data.harga|intcomma}}
		</h1>
		
		{# <form method="POST" action="{% url "transaksi:url_success" %}"> #}
			{# {% csrf_token %} #}
			{# <label>Jumlah</label> #}
			{# {{form.jumlah}} #}
			{# <h2>Rp. 100.000</h2> #}
			{# <input type="hidden" name="{{form.paket.label}}" value={{data.slug}}> #}
			{# <input type="hidden" name="{{form.user.label}}" value={{user.email}}> #}
			{# <input type="submit"> #}
		{# </form> #}
	</div>
	<button id="pay-button">BAYAR!</button>
	{# <a href="{% url 'home' %}" id="pay-button">Pay!</a>  #}
    {# <pre><div id="result-json">JSON result will appear here after payment:<br></div></pre> #}
	
	<script src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-EOjbQuFJwheGValW">
	
	</script>
    <script type="text/javascript">
    	console.log('ini token : {{token}}');
    	// var token = "{{token}}"
      document.getElementById('pay-button').onclick = function(){
        // SnapToken acquired from previous step
        snap.pay({
          // Optional
          onSuccess: function(result){
          	console.log('Success');
            /* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, 'http://127.0.0.1:8000/', 2);
          },
          // Optional
          onPending: function(result){
            /* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
          },
          // Optional
          onError: function(result){
            /* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
          }
        });
      };
    </script>
</body>
</html>
